<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fakhry.lifelog">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.lifelog">
        <activity android:name=".ui.activities.settings.AboutActivity"></activity>
        <activity android:name=".ui.activities.settings.SettingsActivity" />
        <activity android:name=".ui.activities.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.splashscreen.OnBoardingActivity" />
        <activity android:name=".ui.activities.main.MainActivity" />
        <activity android:name=".ui.activities.read.ReadActivity" />
        <activity android:name=".ui.activities.edit.AddUpdateActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>