<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>


        <activity
            android:name=".settings.ui.SettingsActivity"
            android:exported="false" />

        <receiver
            android:name=".reminders.reciever.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".reminders.reciever.AlarmReceiver"
            android:enabled="true" />


        <activity
            android:name=".about.ui.AboutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_about"
                    android:scheme="@string/app_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>